body {
    width: 100%;
    height: 500px;
    background-color: #dddddd;
    margin: 0px;
}

.header {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
}


li {
    display: inline-block;
    background-color: #ffffff;
    float: right;
    padding-right: 100px;
    margin-top:35px;
}
.linkstyle {
    border-left-style: solid;
    border-right-style: solid; 
    border-color: #868585;
    padding-right: 51px;
    padding-left:51px;
}


.name {
    border-style: none;
    background-color: #4aaaa5;
    position: absolute;
    margin-left: 250px;
    height: 70px;
    width: 275px;
    text-align: center;
    font-family: helvetica;
    font-size: 16px;
    color: white;
}

.line {
    border-bottom: solid #dddddd;
    width: 85%;
    margin-left: 60px;
}


section {
    border-style: none;
    width: 960px;
    height: 450px;
    background-color: white;
    margin-left: 250px;
}


.title {
    margin-left: 100px;
    font-size: 32px;
    font-family: Arial;
    color: #4aaaa5;
    position: relative;
}


img {
  margin-left: 50px;
  margin-top: 25px;
}

.p1 {
    font-family: helvetica;
    font-size: 16px;
    position: relative;
    float: right;
    margin-top: 25px;
    margin-right: 155px;
    text-align: left;
}

.p2 {
    font-family: helvetica;
    font-size: 16px;
   margin-left: 50px;
}

.footer {
    border-style: none;
    background-color: #666666;
    width: 100%;
    height: 35px;
    text-align: center;
    margin: 0px;
}
.name2 {
    border-style: none;
    background-color: #4aaaa5;
    position: absolute;
    margin-left: 300px;
    height: 70px;
    width: 275px;
    text-align: center;
    font-family: helvetica;
    font-size: 16px;
    color: white;
}

.linkstyle2 {
    border-left-style: solid;
    border-right-style: solid; 
    border-color: #868585;
    padding-left: 51px;
    padding-right: 51px;
}

.section2 {
    border-style: none;
    width: 720px;
    height: 400px;
    background-color: white;
    margin-top: 25px;
    margin-left: 300px;
}
.title2 {
    margin-left: 75px;
    font-size: 32px;
    font-family: Arial;
    color: #4aaaa5;
}

.line2 {
    border-bottom: solid #dddddd;
    width: 90%;
    margin-left: 30px;
}

input {
    width: 80%;
    margin-left: 25px;
}

.field1 {
    margin-left: 25px;
    
}

.field2 {
    margin-left: 25px;
}

textarea {
    height: 100px;
    width: 555px;
    margin-left: 50px;
}
.text1 {
    margin-left: 50px;
   
}
.text2 {
    margin-left: 50px;
}

.text3 {
    margin-left: 50px;
}

button  {
    border-style: none;
    background-color: #4aaaa5;
    height: 40px;
    width: 90px;
    color: white;
    margin-left: 50px;
    margin-top: 15px;
}

.footer2 {
    border-style: none;
    background-color: #666666;
    width: 100%;
    height: 35px;
    text-align: center;
    margin-top: 60px;
}
.name3 {
    border-style: none;
    background-color: #4aaaa5;
    position: absolute;
    margin-left: 200px;
    height: 70px;
    width: 275px;
    text-align: center;
    font-family: helvetica;
    font-size: 16px;
    color: white;
}

.linkstyle3 {
    border-left-style: solid;
    border-right-style: solid; 
    border-color: #868585;
    padding-left: 51px;
    padding-right: 51px;
}
.section3 {
    border-style: none;
    width: 960px;
    height: 850px;
    background-color: white;
    margin-top: 25px;
    margin-left: 200px;
}

.container {
    position: relative;
    margin-left: 50px;
    
}

.centered {
    border-right: solid black;
    border-left: solid black;
    position: absolute;
    bottom: 25px;
    width: 220px;
    margin-left: 50px;
    text-align: center;
    background-color: rgba(199, 193, 193, 0.815);
    color: black;

    
}
.centered2 {
    border-right: solid black;
    border-left: solid black;
    position: absolute;
    bottom: 25px;
    width: 220px;
    margin-left: 330px; 
    text-align: center;
    background-color: rgba(199, 193, 193, 0.815);
    color: black;
}
.container2 {
    position: relative;
    margin-left: 50px;
}
.centered3 {
    border-right: solid black;
    border-left: solid black;
    position: absolute;
    bottom: 25px;
    width: 220px;
    margin-left: 50px;
    text-align: center;
    background-color: rgba(199, 193, 193, 0.815);
    color: black;
}

.centered4 {
    border-right: solid black;
    border-left: solid black;
    position: absolute;
    bottom: 25px;
    width: 220px;
    margin-left: 330px; 
    text-align: center;
    background-color: rgba(199, 193, 193, 0.815);
    color: black;
}
.container3 {
    position: relative;
    margin-left: 50px;
    
}
.centered5 {
    border-right: solid black;
    border-left: solid black;
    position: absolute;
    bottom: 0px;
    width: 500px;
    margin-left: 49px;
    text-align: center;
    background-color: rgba(199, 193, 193, 0.815);
    color: black;
}

.footer3 {
    border-style: none;
    background-color: #666666;
    width: 100%;
    height: 35px;
    text-align: center;
    margin: 0px;
    
}

